{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h2>Details de l'utilisateur</h2>
        <p>Nom: {{ nom }}</p>
        <p>Email: {{ email }}</p>
        <p>Message: {{ message }}</p>
        <p>Ville: {{ ville }}</p>
        <p>Âge: {{ age }}</p>
    </main>
{% endblock %}
