<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <h2>Details de l'utilisateur</h2>
    <p>Nom: {{ nom }}</p>
    <p>Email: {{ email }}</p>
    <p>Message: {{ message }}</p>
    <p>Ville: {{ ville }}</p>
    <p>Âge: {{ age }}</p>
</body>
</html>
